<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Priority</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let incident of incidents">
      <td>{{ incident.title }}</td>
      <td>{{ incident.description }}</td>
      <td>{{ incident.priority }}</td>
      <td>{{ incident.status }}</td>
      <td>
        <button *ngIf="incident.status === 'Open'" (click)="closeIncident(incident.id)">Close</button>
      </td>
    </tr>
  </tbody>
</table>